@media screen and (max-width: 1240px) {
        .aboutStyle{
            width: calc(100% - 20px);
            min-height:calc(100vh - 90px - 209px);

            margin: auto;
        }

       .aboutTopImg{
        width: 100%;
        height: calc(22vw + 50px);
        max-height: 223px;
        object-fit: cover;
        background: #000000;
        margin: auto;
        border-radius: 10px;
        }
        
        .aboutTopBg{
        background: #000000;
        mix-blend-mode: darken;
        height: calc(22vw + 50px);
        max-height: 223px;
        opacity: 0.3;
        border-radius: 10px;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
            }
}